html * {
    margin: 0;
    padding: 0;
    color: #ccc;
    font-family: arial;

    touch-action: none;
}
b {
    color: #ddd;
}

html {
    overflow: hidden;
}

body {
    background: #222;
}

#button {
    width: 300px;
    border-radius: 10px;
}

.center {
    text-align: center;
}

button {
    background: #444;
    border: none;
    padding: 10px;
    font-size: 2rem;

    user-select: none;
}

button:hover {
    background: #669;
}

button:active {
    background: #667;
}

button:disabled {
    background: #333 !important;
    opacity: 80% !important;
}

#zoom_buttons {
    position: fixed;
    top: 10px;
    right: 10px;

    display: flex;
    gap: 1rem;

    background: #222222;
    padding: 1rem;
    border: solid #666666 1px;
    border-radius: 16px;
    opacity: 0.5;
}
#zoom_buttons button {
    /* aspect-ratio: 1 / 1; */
    min-width: 4rem;
    height: 4rem;
    font-size: 1.5rem;
    padding: auto;
    display: block;
    border-radius: 16px;
    background-color: #777777;
}

textarea {
    background: #333;
    border: none;
    color: #aaa;
    margin: 0;
    margin-top: 100px;
    padding: 10px;
    width: calc(100vw - 20px);
    height: calc(100vh - 180px);
    font-size: 2rem;
}

.parent {
    top: 50%;
    left: 50%;

    width: 2000vw;
    height: 2000vh;
    padding: 150vh;
    outline: 5px solid red;
    float: left;
    overscroll-behavior: none;

    overflow: hidden;
    transition: transform 0.2s;
    transform: translate(-50%, -50%) scale(var(--zoom));
    transform-origin: center center;
    position: relative;
}
#scroll_wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.child {
    padding: 40000px 40000px 40000px 40000px;
    width: 40000px;
    height: 40000px;
    /* float: left; */
    font-size: 15px;
    font-family: arial;
    /* padding:10px; */
    cursor: pointer;
    display: flex;
}

.no_select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hlight {
    color: rgb(238, 116, 45);
}

.node {
    background: #444;
    margin: 8px;
    padding: 1rem;
    box-shadow: #00002020 8px 8px 12px;
    border-radius: 8px;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.child > * {
    margin-left: 120px;
    margin-right: 120px;
}
.node_list {
    margin: 8px 8px 8px 8px;
    display: grid;
    grid-template-columns: auto auto;
    grid-auto-flow: dense;
    gap: 30px;
    width: fit-content;
    height: fit-content;
}

.title {
    text-align: center;
    width: 100%;
    background-color: #ffffff08;
    box-shadow: #00000020 2px 2px 8px;
    padding: 6px;
    padding-bottom: 16px;
    border-radius: 8px;
    /* display: flex; */
    /* flex-direction:column; */
}

.small_subtitle {
    color: #ffffff40;
    font-size: 1rem;
    font-weight: 100;
    text-align: right;
    width: 200px;
    position: absolute;
    align-self: flex-end;
    transform: translate(0.0rem, -0.30rem);
}

.desc {
    margin-top: 10px;
    width: 500px;
}

a {
    color: #eda;
    font-weight: bold;
    text-decoration: none;
}
a:hover {
    color: #ba7;
}

sup {
    color: #877;
}


/* Tooltip container */
.tt {
    position: relative;
    display: inline-block;
    color: #ffffff60;
    font-size: 0.6rem;
    transform: translateY(-0.1rem);
}

/* Tooltip text */
.tt .tooltiptext {
    visibility: hidden;
    max-width: 500px;
    width: max-content;
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 1rem 1rem;
    border-radius: 20px;
    font-size: 1rem;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tt:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.tooltip {
    opacity: 0;
    color: #eeeeee40;
    margin: 0px;
    margin-top: 8px;
    transition: opacity 0.2s ease-in-out;
    height: fit-content;
}

.tag_link {
    /* color:#ffeeaaa0; */
    display: inline-block;
    border-radius: 0.2rem;
    /* border: 1px solid #ffffff20; */
    background: #ffeeaa10;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
}
.tag_link:hover {
    background: #ffeeaa20;
}
.tag_link:active {
    background: #ffeeaa00;
}

.node:hover > .tooltip {
    opacity: 1;
}